@font-face {
    font-family: 'Regular';
    src: url('./fonts/MuseoModerno-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Bold';
    src: url('./fonts/MuseoModerno-Bold.ttf') format('truetype');
  }